 /*Extra small devices (portrait phones, less than 576px)*/

 @media (max-width: 575.98px) {
     #intro h3 {
         font-size: 14px;
         margin-top: 100px;
     }

     #intro h1 {
         font-size: 25px;
     }

     #overview h3 {
         margin-top: -50px;
     }

     .promo {
         height: 186px;
     }

     .ph {
         font-size: 22px;
     }

     #intro a {
         margin-top: -10px;
     }

 }

 /*Small devices (landscape phones, 576px and up)*/

 @media (min-width: 576px) and (max-width: 767.98px) {}

 /*Medium devices (tablets, 768px and up)*/

 @media (min-width: 768px) and (max-width: 991.98px) {
     #intro h3 {
         font-size: 18px;
         margin-top: 100px;
     }

     #intro h1 {
         font-size: 25px;
     }

     #intro {
         height: 500px;
     }

     .promo {
         height: 150px;
     }

     .ph {
         font-size: 22px;
     }
 }

 /*Large devices (desktops, 992px and up)*/

 @media (min-width: 992px) and (max-width: 1199.98px) {
     #intro h3 {
         font-size: 18px;
         margin-top: 100px;
     }

     #intro h1 {
         font-size: 25px;
     }

     #intro {
         height: 500px;
     }

     .promo {
         height: 120px;
     }

     .ph {
         font-size: 22px;
     }
 }

 /*Extra large devices (large desktops, 1200px and up)*/

 @media (min-width: 1200px) {
     /*========================================*/
     /*========================================*/
 }
